@charset "UTF-8";
/* 도깨비PJ 공동모듈 -common.css */

/* 1. 상단영역 */
.top{
    height: 128px;
    width: 1200px; 
    margin: 0 auto;
}

/* 2. 메인영역 */
.cont{
    height: 969px;
}

/* 3. 하단영역 */
.info{
    height: 241px;
}